In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:/Users/Vidhut Sharma/Downloads/Cleaned Data(edited).csv")
df

,ID,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,1829,1755,1959,1925,WN,...,3,10,1,Y,0,2,0,0,0,32
1,1,2008,1,3,4,1937,1830,2037,1940,WN,...,3,7,1,Y,0,10,0,0,0,47
2,2,2008,1,3,4,1644,1510,1845,1725,WN,...,6,8,1,Y,0,8,0,0,0,72
3,3,2008,1,3,4,1452,1425,1640,1625,WN,...,7,8,1,Y,0,3,0,0,0,12
4,4,2008,1,3,4,1323,1255,1526,1510,WN,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685729,685729,2008,6,13,5,1609,1535,1942,1915,AA,...,7,15,1,Y,0,27,0,0,0,0
685730,685730,2008,6,14,6,1616,1535,1954,1915,AA,...,11,11,1,Y,0,11,0,0,0,28
685731,685731,2008,6,17,2,1617,1535,2002,1915,AA,...,7,17,0,N,0,0,22,5,0,20
685732,685732,2008,6,22,7,1607,1535,1941,1915,AA,...,5,12,1,Y,0,1,0,0,0,25
685733,685733,2008,6,23,1,1608,1535,1933,1915,AA,...,6,10,1,Y,0,18,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685734 entries, 0 to 685733
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 685734 non-null  int64
 1   Year               685734 non-null  int64
 2   Month              685734 non-null  int64
 3   DayofMonth         685734 non-null  int64
 4   DayOfWeek          685734 non-null  int64
 5   DepTime            685734 non-null  int64
 6   CRSDepTime         685734 non-null  int64
 7   ArrTime            685734 non-null  int64
 8   CRSArrTime         685734 non-null  int64
 9   UniqueCarrier      685734 non-null  object
 10  FlightNum          685734 non-null  int64
 11  TailNum            685734 non-null  object
 12  ActualElapsedTime  685734 non-null  int64
 13  CRSElapsedTime     685734 non-null  int64
 14  AirTime            685734 non-null  int64
 15  ArrDelay           685734 non-null  int64
 16  DepDelay           685734 non-null  int64
 17  Origin             685734 non-null  object
 18  Dest               685734 non-null  object
 19  Distance           685734 non-null  int64
 20  TaxiIn             685734 non-null  int64
 21  TaxiOut            685734 non-null  int64
 22  Cancelled          685734 non-null  int64
 23  CancellationCode   685734 non-null  object
 24  Diverted           685734 non-null  int64
 25  CarrierDelay       685734 non-null  int64
 26  WeatherDelay       685734 non-null  int64
 27  NASDelay           685734 non-null  int64
 28  SecurityDelay      685734 non-null  int64
 29  LateAircraftDelay  685734 non-null  int64
dtypes: int64(25), object(5)
memory usage: 157.0+ MB

In [4]:
df.describe()

,ID,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,685734.000000,685734.0,685734.000000,685734.000000,685734.000000,685734.000000,685734.000000,685734.000000,685734.000000,685734.000000,...,685734.000000,685734.000000,685734.000000,685734.000000,685734.0,685734.000000,685734.000000,685734.000000,685734.000000,685734.000000
mean,342866.500000,2008.0,3.372273,15.346483,3.979874,1560.354417,1489.506097,1619.628986,1651.464867,2308.391757,...,728.453177,6.559675,18.392438,0.499519,0.0,18.870359,3.568032,14.429618,0.093284,25.334310
std,197954.499084,0.0,1.711575,8.927778,1.970784,452.558818,421.453742,579.883767,461.146295,1984.178073,...,545.661696,3.659904,10.693604,0.500000,0.0,43.288445,20.724642,32.782977,1.999546,41.188379
min,0.000000,2008.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,11.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,171433.250000,2008.0,2.000000,7.000000,2.000000,1232.000000,1150.000000,1327.000000,1337.000000,648.000000,...,332.000000,4.000000,11.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,342866.500000,2008.0,3.000000,15.000000,4.000000,1619.000000,1530.000000,1737.000000,1720.000000,1618.000000,...,590.000000,6.000000,15.000000,0.000000,0.0,2.000000,0.000000,2.000000,0.000000,9.000000
75%,514299.750000,2008.0,5.000000,23.000000,5.000000,1926.000000,1832.000000,2048.000000,2022.000000,3766.000000,...,957.000000,8.000000,23.000000,1.000000,0.0,21.000000,0.000000,14.000000,0.000000,34.000000
max,685733.000000,2008.0,6.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2359.000000,9740.000000,...,4962.000000,23.000000,63.000000,1.000000,0.0,2436.000000,1148.000000,1357.000000,392.000000,1254.000000

In [5]:
df.isnull().sum()

ID                   0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [6]:
#Drop the columns
df.drop(["ID","UniqueCarrier","TailNum","Origin","Dest","CancellationCode"],axis =1,inplace =True)

In [10]:
X = df.drop("Cancelled",axis =1)
y = df["Cancelled"]

In [7]:
#Splitting the data into train and test split to build Naive Bayes Model
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state=42)

In [13]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((480013, 23), (480013,), (205721, 23), (205721,))

In [18]:
from sklearn.naive_bayes import GaussianNB

In [19]:
gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB()

In [21]:
gnb.score(X_train,y_train)

0.5008176861876658

In [23]:
y_train_pred = gnb.predict(X_train)

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [22]:
from sklearn.metrics import confusion_matrix,classification_report

In [24]:
print(classification_report(y_train,y_train_pred))

              precision    recall  f1-score   support

           0       0.50      0.17      0.26    240116
           1       0.50      0.83      0.62    239897

    accuracy                           0.50    480013
   macro avg       0.50      0.50      0.44    480013
weighted avg       0.50      0.50      0.44    480013

In [28]:
Confusion_MatrixData = confusion_matrix(y_train,y_train_pred)

#Calculating Accuracy,Percision,Recall and F1-Score
Accuracy = (Confusion_MatrixData[1][0] + Confusion_MatrixData[0][0])/(Confusion_MatrixData[0][0] + Confusion_MatrixData[0][1] + Confusion_MatrixData[1][0]+ Confusion_MatrixData[1][1])
Senstivity = (Confusion_MatrixData[1][1]) /  (Confusion_MatrixData[1][1] + Confusion_MatrixData[1][0])
Precision = (Confusion_MatrixData[1][1]) / (Confusion_MatrixData[1][1] + (Confusion_MatrixData[0][1])) 
F1Score = (2 * Senstivity * Precision)/(Senstivity + Precision)

In [35]:
Performance_Metrics = pd.DataFrame({"Model": "Naive Bayes[Train]","Accuracy": [Accuracy],"Precision":[Precision],"Recall":[Senstivity],"F1Score":[F1Score]})
Performance_Metrics

                Model  Accuracy  Precision    Recall   F1Score
0  Naive Bayes[Train]  0.173516   0.500357  0.827451  0.623615

In [36]:
#Checking test data performance
y_pred_test = gnb.predict(X_test)
y_pred_test

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [37]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.50      0.17      0.26    103081
           1       0.50      0.83      0.62    102640

    accuracy                           0.50    205721
   macro avg       0.50      0.50      0.44    205721
weighted avg       0.50      0.50      0.44    205721

In [38]:
Confusion_MatrixData = confusion_matrix(y_test,y_pred_test)

#Calculating Accuracy,Percision,Recall and F1-Score
Accuracy = (Confusion_MatrixData[1][0] + Confusion_MatrixData[0][0])/(Confusion_MatrixData[0][0] + Confusion_MatrixData[0][1] + Confusion_MatrixData[1][0]+ Confusion_MatrixData[1][1])
Senstivity = (Confusion_MatrixData[1][1]) /  (Confusion_MatrixData[1][1] + Confusion_MatrixData[1][0])
Precision = (Confusion_MatrixData[1][1]) / (Confusion_MatrixData[1][1] + (Confusion_MatrixData[0][1])) 
F1Score = (2 * Senstivity * Precision)/(Senstivity + Precision)

In [39]:
Performance_Metrics_test = pd.DataFrame({"Model": "Naive Bayes[Test]","Accuracy": [Accuracy],"Precision":[Precision],"Recall":[Senstivity],"F1Score":[F1Score]})
Performance_Metrics_test

               Model  Accuracy  Precision    Recall   F1Score
0  Naive Bayes[Test]  0.173954   0.498661  0.825604  0.621774

In [44]:
pd.concat([Performance_Metrics,Performance_Metrics_test],axis =0)

                Model  Accuracy  Precision    Recall   F1Score
0  Naive Bayes[Train]  0.173516   0.500357  0.827451  0.623615
0   Naive Bayes[Test]  0.173954   0.498661  0.825604  0.621774